In [177]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [198]:
path=r"C:\Users\KHAN\Desktop\data sci\sales_data"
os.listdir(path)

['.ipynb_checkpoints',
 'all_data.csv',
 'long pro.ipynb',
 'Sales-April.csv',
 'Sales-August.csv',
 'Sales-December.csv',
 'Sales-Februrary.csv',
 'Sales-January.csv',
 'Sales-July.csv',
 'Sales-June.csv',
 'Sales-March.csv',
 'Sales-May.csv',
 'Sales-November.csv',
 'Sales-October.csv',
 'Sales-September.csv',
 'Untitled.ipynb']

In [197]:
files=[file for file in os.listdir(path)if not file.startswith('.')]
data=pd.DataFrame()
for file in files:
    all_data=pd.read_csv(path+"/"+file)
    data=pd.concat([data,all_data])
data.to_csv("all_data.csv",index=False)

In [181]:
data.head()

,Unnamed: 0,Unnamed: 0.1,Sales Representative,Location,Region,Customer,Order Date,Item,Quantity,Price,Total Sale Amount
0,0.0,0.0,Patrick Graham,Washington,West,Jeremy Baker,2016/04/01,Junk,8,12.42,99.36
1,1.0,1.0,Frances Warren,New Jersey,East,Albert Dunn,2016/04/01,Widgets,9,53.35,480.15
2,2.0,2.0,Sara Snyder,New York,East,Robert Hayes,2016/04/01,Junk,4,12.42,49.68
3,3.0,3.0,Randy Watson,New York,East,Cheryl Riley,2016/04/01,Widgets,5,53.35,266.75
4,4.0,4.0,Randy Watson,New Jersey,East,Kimberly Coleman,2016/04/01,Widgets,2,53.35,106.70

In [113]:
n_df=data[data.isna().any(axis=1)]
display(n_df.head())

,Unnamed: 0,Sales Representative,Location,Region,Customer,Order Date,Item,Quantity,Price,Total Sale Amount
0,NaN,Patrick Graham,Washington,West,Jeremy Baker,2016/04/01,Junk,8,12.42,99.36
1,NaN,Frances Warren,New Jersey,East,Albert Dunn,2016/04/01,Widgets,9,53.35,480.15
2,NaN,Sara Snyder,New York,East,Robert Hayes,2016/04/01,Junk,4,12.42,49.68
3,NaN,Randy Watson,New York,East,Cheryl Riley,2016/04/01,Widgets,5,53.35,266.75
4,NaN,Randy Watson,New Jersey,East,Kimberly Coleman,2016/04/01,Widgets,2,53.35,106.70

In [114]:
data=data.dropna(how='all')

In [134]:
data['Quantity']=pd.to_numeric(data['Quantity'])
data['Price']=pd.to_numeric(data['Price'])
data['Total sale Amount']=pd.to_numeric(data['Total Sale Amount'])

In [199]:
col=['Order Date']
for co in col:
    data[co]=data[co].map(lambda x:str(x).lstrip(' ').rstrip(' ')).astype(str)

In [200]:
col=['Order Date']
for co in col:
    data[co]=data[co].map(lambda x:str(x).lstrip('42675 ').rstrip('42675 ')).astype(str)

In [201]:
col=['Order Date']
for co in col:
    data[co]=data[co].map(lambda x:str(x).lstrip('1-01-04 ').rstrip('1-01-04')).astype(str)

In [202]:
col=['Order Date']
for co in col:
    data[co]=data[co].map(lambda x:str(x).lstrip('16-04-01').rstrip('16-04-01')).astype(str)

In [168]:
data['Order Date']=pd.to_datetime(data['Order Date'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-04 00:00:00

In [194]:
data['Order Date']=(data['Order Date']).astype('str')
data=data[data['Order Date'].str[6:8]!="Or"]
data["Months"]=data['Order Date'].str[6:8]
data['Month'] = data['Month'].astype(str).astype('int32')

KeyError: 'Month'

In [203]:
data.groupby(['Month']).sum()['Total Sale Amount']

KeyError: 'Month'

In [190]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38087 entries, 0 to 403
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            27205 non-null  float64
 1   Unnamed: 0.1          21764 non-null  float64
 2   Sales Representative  38087 non-null  object
 3   Location              38087 non-null  object
 4   Region                38087 non-null  object
 5   Customer              38087 non-null  object
 6   Order Date            38087 non-null  object
 7   Item                  38087 non-null  object
 8   Quantity              38087 non-null  int64
 9   Price                 38087 non-null  float64
 10  Total Sale Amount     38087 non-null  float64
 11  Months                38087 non-null  object
dtypes: float64(4), int64(1), object(7)
memory usage: 2.8+ MB